.links {
  margin-bottom: 10px;
  margin-right: 10px;
}

.link {
  font-weight: 400;
  font-size: 17px;

  text-decoration: none;
  margin-right: 10px;
  color: black;

  &_active {
    color: red;
  }
}
